@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&family=Roboto:wght@300&display=swap');
* {
	box-sizing: border-box;
	border: 0px;
	margin: 0px;
	padding: 0px;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}
.body{
    background-color: #AEB6BF ;
}
header{
    background-color: #34495E ;
    height: 100px;
    padding-top: 20px;
}

.title{
    text-decoration: none;
    color: #000000;
}

li {
	display: inline-block;
    padding-left: 27px;
}

li a {
	display: inline-block;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 22px;
	
}
.error{
    color:#ff0000;
    font-weight: bold;
}

label{
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 600;
}
.registration_form{
    width: 600px;
    margin: 0 auto;
    border: 1px solid #151D41;
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    margin-bottom: 50px;
    box-shadow: 0px 3px 10px #00000029;
}
.todotable{
    margin: 0 auto;
}
td{
    padding: 0px 30px 30px 25px;
    text-align: center;
    font-size: 18px;
}
th{
    padding:30px 25px 20px 25px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 22px;
}
.h3{
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 4px 4px 4px #000000;
}
thead{
    padding: 0px 25px 20px 25px;
}
h1{
    text-align: center;
    padding-bottom: 40px;
    font-size: 30px;
    font-family: 'Roboto';
    padding-top: 20px;
}

.right{
    width: 50%;
    float: right;
}
.left{
    width: 50%;
    float: left;
}
input[type=text], input[type=email],
input[type=mail] ,input[type=password],
input[type=file]{
    width: 535px;
    height: 45px;
    border: 1px solid #151D41;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: #FFFFFF;
    font-size: 18px;
    font-family: 'Roboto';
    color: #151D41;
    line-height: 21px;
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
} 

input[type=radio]{
    font-size: 18px;

}
.gender{
    padding-top: 40px;
    font-size: 18px;
    font-family: 'Roboto';
    color: #151D41;
}
.submit-button{
    text-align: center;
    clear: both;
}
a{
	display: inline-block;
	text-decoration: none;
	color: #151D41;
	font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
	
}
input[type=submit]{
    font-size: 25px;
    font-family: 'Montserrat';
    color: #FFFFFF;
    background-color: #0FBF61;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    width: 155px;
    height: 58px;

}
.email input[type=email]{
    width: 535px;
    height: 60px;
    border: 1px solid #151D41;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: #FFFFFF;
    font-size: 18px;
    font-family: 'Roboto';
    color: #151D41;
    line-height: 21px;
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 15px;
}
.error{
    color: #ff0000;
}
footer{
    height: 100px;
    background-color:  #34495E;
    position: relative;
    
}
h3{
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 4px 4px 4px #000000;
    padding-left: 20px;
    padding-top: 20px;
}